<!-- <p>modal-consultorio works!</p> -->
<div class="row justify-content-center modal-center">
    <div class="col-12 text-center">
        <h5 class="card-title">Cambio de habilitación</h5>
    </div>
    <div class="col-12 text-center">
        <p *ngIf="this.estado != this.diccionario.estado_consultorio.no_disponible">¿Desea deshabilitar el
            consultorio?</p>
        <p *ngIf="this.estado == this.diccionario.estado_consultorio.no_disponible">¿Desea habilitar el
            consultorio?</p>
    </div>

    <div class="col-6 text-center">
        <button type="button" class="btn btn-success" (click)="manejarConfirmacion(true)">SI</button>
    </div>
    <div class="col-6 text-center">
        <button type="button" class="btn btn-danger" (click)="manejarConfirmacion(false)">NO</button>
    </div>
</div>