<!-- <p>home-admin works!</p> -->
<div class="container">
    <div class="row justify-content-center">
        <h2>Administrador</h2>
    </div>
    <div class="row">
        <table>
            <tr>
                <td align="centere" colspan="3">
                    <a routerLinkActive="active" routerLink="/registro"
                        class="btn btn-success text-center">Registro</a>
                </td>
            </tr>
            <tr align="centere" colspan="3">
                <div class="row justify-content-center">
                    <h4>Estadisticas</h4>
                </div>
            </tr>
            <tr>
                <td>
                    <a routerLinkActive="active"
                        routerLink="/estadisticas-registro"
                        class="btn btn-danger text-center">Logueos</a>
                </td>
                <td>
                    <a routerLinkActive="active"
                        routerLink="/estadisticas-especialidad"
                        class="btn btn-warning text-center">Turnos
                        por Especialidad</a>
                </td>
                <td>
                    <a routerLinkActive="active"
                        routerLink="/estadisticas-realizados"
                        class="btn btn-primary text-center">Cancelados /
                        Realizados</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLinkActive="active"
                        routerLink="/estadisticas-recepcionista"
                        class="btn btn-secondary text-center">Cliente /
                        Recepcionista</a>
                </td>
                <td>
                    <a routerLinkActive="active"
                        routerLink="/estadisticas-usados"
                        class="btn btn-info text-center">Usos</a>
                </td>
                <td>
                    <a routerLinkActive="active"
                        routerLink="/estadisticas-comentarios"
                        class="btn btn-success text-center">Comentarios</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a routerLinkActive="active"
                        routerLink="/estadisticas-fechas"
                        class="btn btn-danger text-center">Turnos entre fechas</a>
                </td>
            </tr>
        </table>
    </div>
</div>