<!-- <p>modal works!</p> -->
<div class="row justify-content-center modal-center">
    <div class="col-12 text-center">
        <h5 class="card-title"> Cancelar Turno</h5>
    </div>
    <div class="col-12  text-center">
        <p>¿Desea cancelar el turno?</p>
    </div>

    <div class="col-6 text-center">
        <button type="button" class="btn btn-danger" (click)="manejarConfirmacion(true)">SI</button>
    </div>
    <div class="col-6 text-center">
        <button type="button" class="btn btn-secondary" (click)="manejarConfirmacion(false)">NO</button>
    </div>
</div>