<!-- <p>home-recepcionista works!</p> -->
<div class="container">
    <div class="row justify-content-center">
        <h2>Recepcionista</h2>
    </div>
    <div class="row justify-content-around">
        <a routerLinkActive="active" routerLink="/listado-turno" class="btn btn-success text-center">Ver Turnos</a>
        <a routerLinkActive="active" routerLink="/alta-turno" class="btn btn-primary text-center">Pedir Turno</a>
    </div>
    <div class="row justify-content-around">
        <app-sala-esperas-container></app-sala-esperas-container>
    </div>
</div>